div.island{
    border: black solid 1px;
    display: table;
    margin: 0 0 20px 0;
    padding: 2px;
}

p.counting_msg{
    color: blue;
    margin-bottom: -15px;
    padding: 0;
}

div.rack {
    border: black dotted 1px;
    margin: 2px;
    padding: 2px 5px;
    float: left;
    width: 240px;
    height: 625px;
    background-image: url("/static/img/T1_Rack.png");
    background-repeat: no-repeat;
    background-position: 5px 20px;
}

div.rack .rack_name{
    font-family: Consolas, Courier;
    font-size: 11pt;
    font-style: oblique;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: gray;
}

div.rack .rack_name input {
    padding: 0;
    padding-bottom: 1px;
}

div.switch {
    font-family: Consolas, Courier;
    font-size: 11pt;
    text-align: center;
    background-color: slategrey;
    color: white;
    margin-top:2px;
    cursor: default;
}

div.rack-switch {
    float: left;
    width: 200px;
    height: 30px;
}

div.management {
    /*margin: 3px 1px 3px 1px;*/
}

div.nodes {
    width: 200px;
    margin: 8px 20px;
}

div.rack-node {
    border: gray dotted 1px;
    background-color:whitesmoke;
    font-family: Consolas, Courier;
    font-size: 8pt;
    float: left;
    width: 95px;
    height: 22px;
    padding-top:5px;
    padding-left:5px;
    margin:-1px;
    cursor: default;
}

.nodes .ui-selecting {
	background: Gold;
}

.nodes .ui-selected {
	background: Yellow;
}

div.rack-node.odd{
    /*padding-right: 20px;*/
}

div.rack-node.even{
    /*padding-left: 20px;*/
}

div.node {
    width:10px;
    height:10px;
    padding: 0px;
    margin-right:2px;
    margin-top:4px;
    float: left;
    color: white;
}

div.switch:not(.management), .node:not(.management) {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.offline{
    background-color:red;
}
div.unboot{
    background-color:gray;
}
div.online{
    background-color:green;
}
div.event{
    background-color:orange;
}

.btn-debug{
    width: 170px;
}

.cancel-tab-border-bottom{
  border-bottom: none;
  margin-bottom: 0px;
}

.icon-Critical {
  background: transparent url(/static/icons/event/critical.png) no-repeat center center;
  padding: 1px;
}

.icon-Error {
  background: transparent url(/static/icons/event/error.png) no-repeat center center;
  padding: 1px;
}

.icon-Warning {
  background: transparent url(/static/icons/event/warning.png) no-repeat center center;
  padding: 1px;
}

.icon-Log {
  background: transparent url(/static/icons/event/log.png) no-repeat center center;
  padding: 1px;
}

.icon-Debug {
  background: transparent url(/static/icons/event/debug.png) no-repeat center center;
  padding: 1px;
}

.icon-updating {
  background: transparent url(/static/icons/loading.gif) no-repeat center center;
  padding: 1px;
}

