# Byte-compiled / optimized / DLL files
*.py[cod]
*.swp
*~
*.orig
*.bak

# C extensions
*.o
*.o.d

# Distribution / packaging
/*.egg
/*.eggs
/*.egg-info
/dist
/build/lib.*/
/build/temp.*/
/eggs
/parts
/bin
/var
/sdist
/lib
/lib64
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
/ccm-result.xml
/cloc-result.xml
/compile_commands.json
/coverage.xml
/cpd-result.xml
/hb_clint.xml
/nosetests.xml
/oclint-report.xml
/tests/unit_test/c/unittest_modules/*/obj
/tests/unit_test/c/unittest_modules/*/*.gcda
/tests/unit_test/c/unittest_modules/*/*.gcno
/tests/unit_test/c/unittest_modules/*/*.gcov
/tests/unit_test/c/unittest_modules/*/test_detail_*.xml
/tests/unit_test/c/unittest_modules/*/*_unittest
/clangScanBuildReports
**/core
**/vgcore.*

# Auto tests
/tmp

# Virtualenv
/.venv

# Translations
*.mo

# DEB package
*.deb

# Mr Developer
.project
.pydevproject

# Debug log
backend_upload_log
cache_maintain_log
fuse_log
hcfs_android_log

# Compiled outputs
/src/CLI_utils/HCFSvol
/src/CLI_utils/pin_test
/src/CLI_utils/fake_copy_minimal
/src/HCFS/hcfs
/src/HCFS/hcfs.log
/src/HCFS/obj

# Build Process
/build/.ndk_build
/build/.ndk_dir
/build/.init_ccache
/build/obj
/build/out
/build/*/obj
/build/*/out
/containers/**/id_rsa
/containers/**/id_rsa.pub
/utils/.done_*
