*.py[cod]
*.swp
*.c~
*.cc~
*.h~
*.conf~
.a
.gcda
.gcdo


# C extensions
*.o
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
*.gcda
*.gcno

# Virtualenv
.venv

# Translations
*.mo

# DEB package
*.deb

# Mr Developer
.project
.pydevproject
