*.py[cod]
*.swp

# C extensions
*.o
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Virtualenv
.venv

# Translations
*.mo

# DEB package
*.deb

# Mr Developer
.project
.pydevproject
