{% extends "base.html" %} {% block content %}
<div class="container-fluid" style="padding: 30px 0;">
	<div class="row">
		<div class="span2">
			<div class="well" style="padding: 8px 0;">
				<ul class="nav nav-list">
					<li class="nav-header">Capacity Usage</li>
					<li><a herf="#">Stored at Cloud</a></li>
					<li><a herf="#">Cache at Local</a></li>
					<li class="nav-header">Configuration</li>
					<li><a herf="#">Change Admin Password</a></li>
					<li><a herf="#">Change Shared Folder Password</a></li>
					<li class="nav-header">System</li>
					<li><a herf="#">Power Off/Restart</a></li>
					<li><a herf="#">Push to Cloud</a></li>
					<li><a herf="#">Push Policy</a></li>
					<li><a herf="#">Snapshot Policy</a></li>
					<li class="nav-header">Log</li>
					<li><a herf="#">System Log</a></li>
				</ul>
			</div>
		</div>
		<div class="span10"></div>
	</div>
</div>
{% endblock content %}
