{% extends "base.html" %} {% block content %}
<div class="container-fluid" style="padding: 30px 0;">
    <div class="row">
        <div class="span2">
            <div>
                <h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a herf="#">Dashboard</a></li>
                        <li><a herf="#">Account Configuration</a></li>
                        <li class="active"><a herf="#">Sync Management</a></li>
                        <li><a herf="#">System Log</a></li>
                        <li><a herf="#">Tab menu 5</a></li>
                        <li><a herf="#">Tab menu 6</a></li>
                    </ul>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
