{% extends "base.html" %} {% block content %}
<div class="row" style="padding: 120px 0;">
	<div style="width:560px; margin: 0 auto;">
		<form class="well form-horizontal" method="post" action="/login">
			{% csrf_token %}
			<div style="padding: 0 0 24px 0;">
				<h2>Administrator Login</h2>
			</div>
			<div class="control-group">
				<label for="account" class="control-label">Account</label>
				<div class="controls">
					<input type="text" id="account" name="username">
				</div>
			</div>
			<div class="control-group">
				<label for="account" class="control-label">Password</label>
				<div class="controls">
					<input type="password" id="password" name="password">
					<button class="btn btn-large btn-primary" type="submit"
						style="width: 100px; margin-left: 16px;">Login</button>
                </div>
                <br />
                <div style="margin-left: 85px">
                    <font color="red" size="4">{{ error_msg }}</font>
                </div>
            </div>
		</form>
	</div>
</div>
{% endblock content %}
