<!DOCTYPE html>
<html lang="zh-tw">
    <head>
        <!--Title-->

        <title>Delta Storage Gateway</title>

        <!--Metadata-->

        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

        <!--CSS-->
        <link rel="stylesheet" type="text/css" name="bootstrap" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" name="bootstrap" href="/static/css/site.css" />
        <link rel="stylesheet/less" type="text/css" href="/static/css/site-dashboard.less">
        {% block stylesheet %}
        {% endblock stylesheet %}
        <style type="text/css">
            {% block css_style %}
            /* Give a quick and non-cross-browser friendly divider */
            {% endblock css_style %}
        </style>
        <script src="/static/js/less-1.3.0.min.js" type="text/javascript"></script>
        <script src="/static/js/jquery-1.7.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script type="text/javascript">
            {% block javascript %}
            {% endblock javascript %}
        </script>
    </head>

    <body>
    <div class="site-container">
    <div class="site-header">
        <div class="logo-box">
        </div>
    </div>
    <div class="error-content bg-fixed">
        {% block content %}

        {% endblock content %}
    </div>
    </div> <!-- site-body -->
    </body>
</html>
