input.span05 {
	width: 25px;
}

/* The following are styles for dashboard views.*/

.site-body{
	position: absolute;
    width: 1024px;
    margin:0;
    top: 0;
    bottom: 0;
    left: 0;
}

.site-header{
    width: 1024px;
    position: fixed;
    top: 0;
    margin: 0; padding:0;
    background-color: black;
    height: 80px;
    z-index: 1000;
}
.notify-box{
    background-color: red;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    float: left;
}

.notify-box-group{
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
}

.refresh_box{
    position: relative;
    top:40px; left:10px;
    height: 30px;
    background-color: gray;
    width: 480px;
}

.bg-fixed{
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.main-bg{
	background-color: #CFECF2;
	width: 804px;
	left: 220px;
}

.left-bg{
    background-color: lightgray;
    width:220px;
}

.main-row{
	position: absolute;
	left: 220px;
    width: 804px;
    bottom: 0;
    top: 80px;
}

.left-row{
    width: 220px;
    /*height: 1024px;*/
    /*bottom: 0px;*/
    top: 80px;
    position: fixed;
}

.slide-box{
    /*width: 804px;*/
    /*background-color: purple;*/
    position: relative;
    min-height: 50px;
}

.box-body{
	position: relative;
	top: 50px;
	bottom: 20px;
}
.box-footer{
	position: absolute;
    width:804px;
    top: 0;
    bottom: auto;
    margin-bottom: 60px;
}

.box-footer .msg-status{
	width: 100%;
	background-color: #C03556;
	position: absolute;
	height: 20px;
	right: 1px;
}

.box-footer .msg-btn{
	width: 60px;
	height: 23px;
	background-color: #C03556;
	position: absolute;
	top:0;
	right: 1px;
	text-align: center;
	padding: 10px 5px;
	font-size: 32px;
}


.msg-block{
	position: relative;
	padding: 5px;
	border: double 1px black ;
}

.msg-block~.msg-block{
	border-top: none;
}

.msg-time{
	position: absolute;
	top: 18px;
	right: 20px;
}

.msg-icon{
	margin: 2px 10px;
	width: 35px;
	height: 35px;
	background-color: #D03556;
	font-size: 24pt;
	float: left;
}

.msg-title{
	margin: 2px 10px 2px 100px;
	padding: 7px;
	width: 150px;
	height: 25px;
}

.action-btn{
	position: relative;
	padding-top: 100px;

}

/*The following are styles for power page.*/

.poweroff{
	position: absolute;
	min-width: 250px;
	padding: 20px;
	font-size: 28px;
	text-align: center;
	left:75px;
	background-color: #C03556;
}

.reset{
	position: absolute;
	padding: 20px;
	font-size: 28px;
	min-width: 250px;
	text-align: center;
	right:75px;
	background-color: #EFA943;
}

/*The following are styles for usage and status page*/

.storage-usage-info{
	position: relative;
	margin-left: 50px;
	max-width: 300px;
	float: left;
}

.storage-usage-info header{
	background-color: black;
	color: white;
	font: 20px bold;
	padding: 10px 20px;
}

.storage-usage-info section{
	border: solid gray 2pt;
	border-top: none;
	background-color: white;
	padding: 10px;
}

.storage-usage-info .percentage-bar{
	width: 76%;
	background-color: navy;
}

.storage-status{
	position: relative;
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}

.storage-status div{
	background-color: #D47C37;
	min-width: 75px;
	min-height: 50px;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
	color: white;
}

.storage-usage-bar{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3px;
	width: 804px;
	height: 40px;
}

.storage-usage-bar .usage-total{
	position: absolute;
	background-color: white;
	border: solid brown 1px;
	bottom: 1px;
	min-width: 99%;
	min-height: 99%;
}
.storage-usage-bar .usage-now{
	position: absolute;
	background-color: #421B19;
	border: solid brown 1px;
	bottom: 1px;
	width: 30%;
	min-height: 99%;
}
