// The following are predefined variables and functions for less
@site-width: 1024px;
@site-top-height: 132px;
@notify-group-height: 115px;
@site-left-width: 220px;
@site-left-main-seperator: 1px;
@site-main-width: @site-width - @site-left-width;
@tab-height: 52px;
@base-bg-color: #CFECF2;
@base-left-bg-color: lightgray;
@slide-box-footer-bar-height: 24px;
@slide-box-toggle-btn-height: 44px;
@slide-box-footer-height: @slide-box-footer-bar-height + @slide-box-toggle-btn-height;
@msg-title-height: 25px;
@error-msg-bg-color: #C03556;
@space-bar-left-width: 17px;
@cache-usage-bar-width: @site-main-width - 100px;
@cache-usage-bar-height: 25px;
@dashboard-image-path: "static/img/dashboard";
.css3-transform (@times){
    -moz-transition: all @times ease-in-out;
	-webkit-transition: all @times ease-in-out;
	-o-transition: all @times ease-in-out;
	transition: all @times ease-in-out;
}

.css3-shadow (@prop){
	-moz-box-shadow: @prop;
	-webkit-box-shadow: @prop;
	box-shadow: @prop;
}

.corner-radius (@size){
	-moz-border-radius: @size;
    -webkit-border-radius: @size;
    -khtml-border-radius: @size;
    border-radius: @size;
}

.css3-progress-bar-skyblue{
	background: rgb(184,225,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */
}

.css3-progress-bar-green{
	background: rgb(223,252,184); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(223,252,184,1) 0%, rgba(207,243,169,1) 10%, rgba(183,228,144,1) 25%, rgba(184,234,144,1) 37%, rgba(187,240,144,1) 50%, rgba(164,229,107,1) 51%, rgba(215,245,163,1) 83%, rgba(241,253,189,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,252,184,1)), color-stop(10%,rgba(207,243,169,1)), color-stop(25%,rgba(183,228,144,1)), color-stop(37%,rgba(184,234,144,1)), color-stop(50%,rgba(187,240,144,1)), color-stop(51%,rgba(164,229,107,1)), color-stop(83%,rgba(215,245,163,1)), color-stop(100%,rgba(241,253,189,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(223,252,184,1) 0%,rgba(207,243,169,1) 10%,rgba(183,228,144,1) 25%,rgba(184,234,144,1) 37%,rgba(187,240,144,1) 50%,rgba(164,229,107,1) 51%,rgba(215,245,163,1) 83%,rgba(241,253,189,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(223,252,184,1) 0%,rgba(207,243,169,1) 10%,rgba(183,228,144,1) 25%,rgba(184,234,144,1) 37%,rgba(187,240,144,1) 50%,rgba(164,229,107,1) 51%,rgba(215,245,163,1) 83%,rgba(241,253,189,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(223,252,184,1) 0%,rgba(207,243,169,1) 10%,rgba(183,228,144,1) 25%,rgba(184,234,144,1) 37%,rgba(187,240,144,1) 50%,rgba(164,229,107,1) 51%,rgba(215,245,163,1) 83%,rgba(241,253,189,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(223,252,184,1) 0%,rgba(207,243,169,1) 10%,rgba(183,228,144,1) 25%,rgba(184,234,144,1) 37%,rgba(187,240,144,1) 50%,rgba(164,229,107,1) 51%,rgba(215,245,163,1) 83%,rgba(241,253,189,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dffcb8', endColorstr='#f1fdbd',GradientType=0 ); /* IE6-9 */
}


.css3-progress-bar-red{
	background: rgb(252,194,184); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,194,184,1) 0%, rgba(243,184,169,1) 10%, rgba(228,165,144,1) 25%, rgba(234,168,144,1) 37%, rgba(240,170,144,1) 50%, rgba(229,137,107,1) 51%, rgba(245,170,163,1) 83%, rgba(253,189,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,194,184,1)), color-stop(10%,rgba(243,184,169,1)), color-stop(25%,rgba(228,165,144,1)), color-stop(37%,rgba(234,168,144,1)), color-stop(50%,rgba(240,170,144,1)), color-stop(51%,rgba(229,137,107,1)), color-stop(83%,rgba(245,170,163,1)), color-stop(100%,rgba(253,189,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,194,184,1) 0%,rgba(243,184,169,1) 10%,rgba(228,165,144,1) 25%,rgba(234,168,144,1) 37%,rgba(240,170,144,1) 50%,rgba(229,137,107,1) 51%,rgba(245,170,163,1) 83%,rgba(253,189,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,194,184,1) 0%,rgba(243,184,169,1) 10%,rgba(228,165,144,1) 25%,rgba(234,168,144,1) 37%,rgba(240,170,144,1) 50%,rgba(229,137,107,1) 51%,rgba(245,170,163,1) 83%,rgba(253,189,195,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,194,184,1) 0%,rgba(243,184,169,1) 10%,rgba(228,165,144,1) 25%,rgba(234,168,144,1) 37%,rgba(240,170,144,1) 50%,rgba(229,137,107,1) 51%,rgba(245,170,163,1) 83%,rgba(253,189,195,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(252,194,184,1) 0%,rgba(243,184,169,1) 10%,rgba(228,165,144,1) 25%,rgba(234,168,144,1) 37%,rgba(240,170,144,1) 50%,rgba(229,137,107,1) 51%,rgba(245,170,163,1) 83%,rgba(253,189,195,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc2b8', endColorstr='#fdbdc3',GradientType=0 ); /* IE6-9 */
}

.css3-progress-bar-gray{
	background: rgb(237,237,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(231,231,231,1) 10%, rgba(221,221,221,1) 25%, rgba(222,222,222,1) 37%, rgba(224,224,224,1) 50%, rgba(212,212,212,1) 51%, rgba(230,230,230,1) 83%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(10%,rgba(231,231,231,1)), color-stop(25%,rgba(221,221,221,1)), color-stop(37%,rgba(222,222,222,1)), color-stop(50%,rgba(224,224,224,1)), color-stop(51%,rgba(212,212,212,1)), color-stop(83%,rgba(230,230,230,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(231,231,231,1) 10%,rgba(221,221,221,1) 25%,rgba(222,222,222,1) 37%,rgba(224,224,224,1) 50%,rgba(212,212,212,1) 51%,rgba(230,230,230,1) 83%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(231,231,231,1) 10%,rgba(221,221,221,1) 25%,rgba(222,222,222,1) 37%,rgba(224,224,224,1) 50%,rgba(212,212,212,1) 51%,rgba(230,230,230,1) 83%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(231,231,231,1) 10%,rgba(221,221,221,1) 25%,rgba(222,222,222,1) 37%,rgba(224,224,224,1) 50%,rgba(212,212,212,1) 51%,rgba(230,230,230,1) 83%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(231,231,231,1) 10%,rgba(221,221,221,1) 25%,rgba(222,222,222,1) 37%,rgba(224,224,224,1) 50%,rgba(212,212,212,1) 51%,rgba(230,230,230,1) 83%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.css3-progress-bar-darkblue{
	background: #bacefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #bacefe 0%, #88acfe 3%, #82a6fa 18%, #6a93f2 52%, #4978e7 55%, #4d7ce9 64%, #658ff1 85%, #85a8fb 94%, #bacefe 97%, #f9ede1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bacefe), color-stop(3%,#88acfe), color-stop(18%,#82a6fa), color-stop(52%,#6a93f2), color-stop(55%,#4978e7), color-stop(64%,#4d7ce9), color-stop(85%,#658ff1), color-stop(94%,#85a8fb), color-stop(97%,#bacefe), color-stop(100%,#f9ede1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bacefe 0%,#88acfe 3%,#82a6fa 18%,#6a93f2 52%,#4978e7 55%,#4d7ce9 64%,#658ff1 85%,#85a8fb 94%,#bacefe 97%,#f9ede1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bacefe 0%,#88acfe 3%,#82a6fa 18%,#6a93f2 52%,#4978e7 55%,#4d7ce9 64%,#658ff1 85%,#85a8fb 94%,#bacefe 97%,#f9ede1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bacefe 0%,#88acfe 3%,#82a6fa 18%,#6a93f2 52%,#4978e7 55%,#4d7ce9 64%,#658ff1 85%,#85a8fb 94%,#bacefe 97%,#f9ede1 100%); /* IE10+ */
	background: linear-gradient(top,  #bacefe 0%,#88acfe 3%,#82a6fa 18%,#6a93f2 52%,#4978e7 55%,#4d7ce9 64%,#658ff1 85%,#85a8fb 94%,#bacefe 97%,#f9ede1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bacefe', endColorstr='#f9ede1',GradientType=0 ); /* IE6-9 */
}


.css3-progress-bar-blue{
	background: #bae3fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #bae3fe 0%, #88cffe 3%, #81cafb 18%, #67bcf5 52%, #44a9ec 55%, #49abed 64%, #63b9f3 85%, #84ccfc 94%, #bae3fe 97%, #fae5e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bae3fe), color-stop(3%,#88cffe), color-stop(18%,#81cafb), color-stop(52%,#67bcf5), color-stop(55%,#44a9ec), color-stop(64%,#49abed), color-stop(85%,#63b9f3), color-stop(94%,#84ccfc), color-stop(97%,#bae3fe), color-stop(100%,#fae5e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bae3fe 0%,#88cffe 3%,#81cafb 18%,#67bcf5 52%,#44a9ec 55%,#49abed 64%,#63b9f3 85%,#84ccfc 94%,#bae3fe 97%,#fae5e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bae3fe 0%,#88cffe 3%,#81cafb 18%,#67bcf5 52%,#44a9ec 55%,#49abed 64%,#63b9f3 85%,#84ccfc 94%,#bae3fe 97%,#fae5e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bae3fe 0%,#88cffe 3%,#81cafb 18%,#67bcf5 52%,#44a9ec 55%,#49abed 64%,#63b9f3 85%,#84ccfc 94%,#bae3fe 97%,#fae5e0 100%); /* IE10+ */
	background: linear-gradient(top,  #bae3fe 0%,#88cffe 3%,#81cafb 18%,#67bcf5 52%,#44a9ec 55%,#49abed 64%,#63b9f3 85%,#84ccfc 94%,#bae3fe 97%,#fae5e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bae3fe', endColorstr='#fae5e0',GradientType=0 ); /* IE6-9 */
}

/* The following are styles for dashboard views.*/

.site-container{
  	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin:0;
    width: @site-width;
}

.site-header{
    position: fixed;
    top: 0;
    margin: 0; padding:0;
    background-image: url("/@{dashboard-image-path}/banner.png");
    width:  @site-width;
    height: @site-top-height;
    z-index: 1000;
}

.notify-box{
	float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    width: 50px;
    height: 50px;
    background-position: 0;
	background-repeat: no-repeat;
}
.notify-box-row{
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

.notify-box-row2{
	float: left;
	clear: both;
	margin-top: 5px;
	margin-left: 5px;
}

.notify-box-row3{
	float: right;
	width: 140px;
	margin-top: 10px;
	margin-right: 10px;
	line-height: 32px;
	vertical-align: middle;
	font-weight: bold;
}

.notify-box-row3 .logout{
	float: right;
}

.notify-box-row4{
	float: right;
	width: 140px;
	margin-right: 10px;
	margin-top: -5px;
}

.notify-box-row4 p{
	margin: 0;
}

.notify-box-row2 .notify-box{
	width: 72px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
}

.notify-box-group{
    position: absolute;
    top: (@site-top-height - @notify-group-height)/2;
    right: (@site-top-height - @notify-group-height)/2;
    width: 430px;
    height: @notify-group-height;
    background-image: url("/@{dashboard-image-path}/indicator_bg.png");
    display: inline-block;
}

.logo-box{
    position: absolute;
    top:13px; left:13px;
    background-image: url("/@{dashboard-image-path}/delta_logo.png");
    background-repeat: no-repeat;
    width: 198px;
    height: 64px;
}

.refresh-box{
    position: absolute;
    bottom:20px; left:20px;
    height: 30px;
    background-color: gray;
    width: 480px;
}

.bg-fixed{
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.main-bg{
	background-image: url("/@{dashboard-image-path}/1_container_bg.png");
	background-position: 0 @site-top-height + 24px; // Add the height of msg-status bar.
	background-repeat: repeat-x;
	background-color: white;
	width: @site-main-width - @site-left-main-seperator;
	left: @site-left-width + @site-left-main-seperator;
	border-right: solid #ccc @site-left-main-seperator;
	.css3-shadow (3px 0px 3px #aaa)
}

.left-bg{
	background-color: #E5E5E5;
	background-repeat: repeat-x;
    width:@site-left-width;
    border-right: solid #ccc @site-left-main-seperator;

}

.left-bg-tail{
	height: 80px;
	width: @site-left-width;
	background-repeat: repeat-x;
	background-image: url("/@{dashboard-image-path}/tab_bg.png");
}

.main-row{
  	position: absolute;
  	left: @site-left-width;
    width: @site-main-width;
    top: @site-top-height;
    bottom: 0;
}

.left-row{
    width: @site-left-width;
    top: @site-top-height;
    position: fixed;
}

.tab-content{
	overflow-y: scroll;
	position: absolute;
	top: @slide-box-footer-height;
	bottom: 0;
}

.tab-btn{
	list-style: none;
	width: @site-left-width;
	margin: 0;
}

.tab-btn li{
	position: relative;
	font-size: 14pt;
	text-align: center;
	line-height: @tab-height;
	vertical-align: middle;
	height: @tab-height;
	background-image: url("/@{dashboard-image-path}/tab_normal.png");
}

.tab-btn a{
	color: gray;
	text-decoration: none;
}

.tab-btn span{
	width: 20px;
	height: @tab-height;
	position: absolute;
	right: 0;
}

.tab-btn .active{
	background-image: url("/@{dashboard-image-path}/tab_hover.png");
}

.tab-btn .active a{
	color: #4D8FE5;
}

.tab-btn .active span{
	//content: "<img src='/@{dashboard-image-path}/tab_hover_arrow.png'>";
	background: url("/@{dashboard-image-path}/tab_hover_arrow.png");
}

@media screen and (max-height: 900px)
{
	.slide-box{
	    .css3-transform(1s);
	    position: fixed;
	    width: @site-main-width;
	    height: 580px - @site-top-height;
	    margin-top: -(580px - @site-top-height) + @slide-box-footer-height ;
	    z-index: 20;
	}
}

.slide-box-body{
	position: relative;
	background-color: white;
	height: 580px - @site-top-height - @slide-box-footer-height;
	overflow-y: scroll;
}

.slide-box-footer-bg{
	position: relative;
	height: @slide-box-footer-height;
}

.slide-box-footer{
	position: absolute;
    width: @site-main-width;
    height: @slide-box-footer-bar-height;
    line-height: @slide-box-footer-bar-height;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    bottom: 0;
    margin-bottom: @slide-box-toggle-btn-height;
    background-image: url("/@{dashboard-image-path}/1_errormsg_bar.png");
}

.slide-box-footer .msg-status{
	width: 100%;
	position: absolute;
	height: 24px;
	right: 1px;
}

.slide-box-footer .toggle-btn{
	position: relative;
	// top: @slide-box-footer-bar-height;
	left: (@site-main-width - 45px) / 2;
	width: 45px;
	height: @slide-box-toggle-btn-height;
	background-image: url("/@{dashboard-image-path}/1_errormsg_arrow_down.png");
}

#syslog .msg-pagination{
	position: fixed;
	bottom: 0;
	width: @site-main-width;
}

#msgbox-body .msg-pagination{
	position: absolute;
	bottom: 0;
	width: @site-main-width;
}

.msg-block{
	position: relative;
	padding: 5px;
	margin: 0 20px;
	border-bottom: solid 1px gray;
}

.msg-pagination{
	text-align: center;
	vertical-align: middle;
	// background-color: yellow;
}

.msg-content{
	margin-top: 5px;
	clear: both;
	display: none;
}

.msg-detail{
	position: absolute;
	top: 5px;
	right: 0px;
	width: 25px;
	height: @msg-title-height;
	background-color: red;
}

.msg-time{
	position: absolute;
	top: 05px;
	right: 45px;
	height: @msg-title-height;
	line-height: @msg-title-height;
	vertical-align: middle;
}

.msg-icon{
	width: 25px;
	height: @msg-title-height;
	background-color: #D03556;
	float: left;
}

.msg-title{
	margin: 0 50px;
	width: 150px;
	height: @msg-title-height;
	line-height: @msg-title-height;
	vertical-align: middle;
}

.action-btn{
	position: relative;
	padding-top: 100px;

}

/*The following are styles for power page.*/

.poweroff{
	position: absolute;
	min-width: 250px;
	padding: 20px;
	font-size: 28px;
	text-align: center;
	left:75px;
	background-color: @error-msg-bg-color;
}

.reset{
	position: absolute;
	padding: 20px;
	font-size: 28px;
	min-width: 250px;
	text-align: center;
	right:75px;
	background-color: #EFA943;
}

/*The following are styles for usage and status page*/

.storage-usage-info{
	position: relative;
	top: 10px;
	left: 50px;
	max-width: @site-main-width - 140px;
	background-color: #EBEDED;
	padding: 5px 20px 50px 20px;
	.corner-radius (20px);
	.css3-shadow (2px 2px 5px gray)
}

.storage-usage-info h2{
	margin: 10px 10px;
	padding: 0;
}

.storage-usage-info hr{
	margin: 0;
	margin-bottom: 10px;
}

.storage-usage-info section p{
	font-size: 16px;
	line-height: 16px;
	color: gray;
	margin: 15px 0 5px 0;
}

.storage-usage-info .percentage-bar{
	position: relative;
	height: @cache-usage-bar-height;
}

.storage-usage-info .percentage-bar div{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: @cache-usage-bar-height;
	.corner-radius (20px);
}

.storage-usage-info .percentage-bar .total-usage{
	.css3-progress-bar-gray;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	.css3-shadow (1px 1px 5px gray)
}

.storage-usage-info .percentage-bar .current-usage{
	max-width: @cache-usage-bar-width;
	.css3-progress-bar-skyblue;
	background-size: 50% 100%;
	background-repeat: no-repeat;
}


.cache-usage-bar{
	position: relative;
	top: 35px;
	left: 50px;
	// background-color: red;
	width: @cache-usage-bar-width;
	height: @cache-usage-bar-height + 75px;
}

.cache-usage-bar .indicator{
	position: relative;
}

.cache-usage-bar .indicator div{
	float: left;
	margin: 0 25px;
	width: @cache-usage-bar-width / 4;
}
.cache-usage-bar .indicator img{
	float: left;
	margin-right: 10px;
}

.cache-usage-bar .indicator p{
	margin: 0;
}

.usage{
	position: relative;
	width: @cache-usage-bar-width;
	height: @cache-usage-bar-height;
	top: 20px;
	clear: both;
}

.usage div{
	.corner-radius (20px);
	position: absolute;
	width: @cache-usage-bar-width;
	height: @cache-usage-bar-height;
	background-repeat: no-repeat;
}

.usage .total{
	.css3-progress-bar-gray;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.usage .used{
	.css3-progress-bar-blue;
	background-size: 66% 100%;
	background-repeat: no-repeat;
}

.usage .dirty{
	.css3-progress-bar-darkblue;
	background-size: 33% 100%;
	background-repeat: no-repeat;
}

.img-system{
	background-image: url("/@{dashboard-image-path}/indicator_1_system_notwork.png");
}
.img-flush{
	background-image: url("/@{dashboard-image-path}/indicator_1_flush_notwork.png");
}
.img-network{
	background-image: url("/@{dashboard-image-path}/indicator_1_network_notwork.png");
}
.img-dirtycache{
	background-image: url("/@{dashboard-image-path}/indicator_1_dirtycache_full.png");
}
.img-system.work{
	background-image: url("/@{dashboard-image-path}/indicator_1_system_work.png");
}
.img-flush.work{
	background-image: url("/@{dashboard-image-path}/indicator_1_flush_work.png");
}
.img-network.work{
	background-image: url("/@{dashboard-image-path}/indicator_1_network_work.png");
}
.img-dirtycache.work{
	background-image: url("/@{dashboard-image-path}/indicator_1_dirtycache_safe.png");
}
.img-indicator.work{
	background-image: url("/@{dashboard-image-path}/indicator_2_normal.png");
}
.img-indicator{
	background-image: url("/@{dashboard-image-path}/indicator_2_abnormal.png");
}