// The following are predefined variables and functions for less
@site-width: 1024px;
@site-top-height: 132px;
@notify-group-height: 115px;
@site-left-width: 220px;
@site-main-width: @site-width - @site-left-width;
@tab-height: 52px;
@base-bg-color: #CFECF2;
@base-left-bg-color: lightgray;
@slide-box-footer-bar-height: 24px;
@slide-box-toggle-btn-height: 44px;
@slide-box-footer-height: @slide-box-footer-bar-height + @slide-box-toggle-btn-height;
@error-msg-bg-color: #C03556;
@cache-usage-bar-height: 40px;
@dashboard-image-path: "static/img/dashboard";
.css3-transform (@times){
    -moz-transition: all @times ease-in-out;
	-webkit-transition: all @times ease-in-out;
	-o-transition: all @times ease-in-out;
	transition: all @times ease-in-out;
}


/* The following are styles for dashboard views.*/

.site-container{
  	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin:0;
    width: @site-width;
}

.site-header{
    position: fixed;
    top: 0;
    margin: 0; padding:0;
    background-image: url("/@{dashboard-image-path}/banner.png");
    width:  @site-width;
    height: @site-top-height;
    z-index: 1000;
}

.notify-box{
	float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    width: 50px;
    height: 50px;
    background-position: 0;
	background-repeat: no-repeat;
}
.notify-box-row{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.notify-box-row2{
	float: right;
	clear: both;
	margin-top: 5px;
	margin-right: 10px;
}

.notify-box-row2 .notify-box{
	width: 72px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
}

.notify-box-group{
    position: absolute;
    top: (@site-top-height - @notify-group-height)/2;
    right: (@site-top-height - @notify-group-height)/2;
    width: 430px;
    height: @notify-group-height;
    background-image: url("/@{dashboard-image-path}/indicator_bg.png");
    display: inline-block;
}

.logo-box{
    position: absolute;
    top:13px; left:13px;
    background-image: url("/@{dashboard-image-path}/delta_logo.png");
    background-repeat: no-repeat;
    width: 198px;
    height: 64px;
}

.refresh-box{
    position: absolute;
    bottom:20px; left:20px;
    height: 30px;
    background-color: gray;
    width: 480px;
}

.bg-fixed{
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.main-bg{
	background-image: url("/@{dashboard-image-path}/1_container_bg.png");
	background-position: 0 @site-top-height + 24px; // Add the height of msg-status bar.
	background-repeat: repeat-x;
	background-color: white;
	width: @site-main-width;
	left: @site-left-width;
}

.left-bg{
	background-image: url("/@{dashboard-image-path}/tab_bg.png");
	background-repeat: repeat-x;
	background-color: white;
    width:@site-left-width;
}

.main-row{
  	position: absolute;
  	left: @site-left-width;
    width: @site-main-width;
    top: @site-top-height;
    bottom: 0;
}

.left-row{
    width: @site-left-width;
    top: @site-top-height;
    position: fixed;
}

.tab-btn{
	list-style: none;
	width: @site-left-width;
	margin: 0;
}

.tab-btn li{
	position: relative;
	font-size: 14pt;
	text-align: center;
	line-height: @tab-height;
	vertical-align: middle;
	height: @tab-height;
	background-image: url("/@{dashboard-image-path}/tab_normal.png");
}

.tab-btn a{
	color: gray;
	text-decoration: none;
}

.tab-btn span{
	width: 20px;
	height: @tab-height;
	position: absolute;
	right: 0;
}

.tab-btn .active{
	background-image: url("/@{dashboard-image-path}/tab_hover.png");
}

.tab-btn .active a{
	color: #4D8FE5;
}

.tab-btn .active span{
	//content: "<img src='/@{dashboard-image-path}/tab_hover_arrow.png'>";
	background: url("/@{dashboard-image-path}/tab_hover_arrow.png");
}

@media screen and (max-height: 600px)
{
	.slide-box{
	    .css3-transform(1s);
	    position: relative;
	    height: 580px - @site-top-height;
	    margin-top: -(580px - @site-top-height) + @slide-box-footer-height ;
	    z-index: 20;
	}
}

.slide-box-body{
	position: relative;
	background-color: purple;
	height: 580px - @site-top-height - @slide-box-footer-height;
	overflow-y: scroll;
}

.slide-box-footer-bg{
	position: relative;
	height: @slide-box-footer-height;
}

.slide-box-footer{
	position: absolute;
    width: @site-main-width;
    height: @slide-box-footer-bar-height;
    line-height: @slide-box-footer-bar-height;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    bottom: 0;
    margin-bottom: @slide-box-toggle-btn-height;
    background-image: url("/@{dashboard-image-path}/1_errormsg_bar.png");
}

.slide-box-footer .msg-status{
	width: 100%;
	position: absolute;
	height: 24px;
	right: 1px;
}

.slide-box-footer .toggle-btn{
	position: relative;
	// top: @slide-box-footer-bar-height;
	left: (@site-main-width - 45px) / 2;
	width: 45px;
	height: @slide-box-toggle-btn-height;
	background-image: url("/@{dashboard-image-path}/1_errormsg_arrow_down.png");
}

.msg-block{
	position: relative;
	padding: 5px;
	border: double 1px black ;
}

.msg-block~.msg-block{
	border-top: none;
}

.msg-time{
	position: absolute;
	top: 18px;
	right: 20px;
}

.msg-icon{
	margin: 2px 10px;
	width: 35px;
	height: 35px;
	background-color: #D03556;
	font-size: 24pt;
	float: left;
}

.msg-title{
	margin: 2px 10px 2px 100px;
	padding: 7px;
	width: 150px;
	height: 25px;
}

.action-btn{
	position: relative;
	padding-top: 100px;

}

/*The following are styles for power page.*/

.poweroff{
	position: absolute;
	min-width: 250px;
	padding: 20px;
	font-size: 28px;
	text-align: center;
	left:75px;
	background-color: @error-msg-bg-color;
}

.reset{
	position: absolute;
	padding: 20px;
	font-size: 28px;
	min-width: 250px;
	text-align: center;
	right:75px;
	background-color: #EFA943;
}

/*The following are styles for usage and status page*/

.storage-usage-info{
	position: absolute;
	top: 50px;
	left: 50px;
	right: 50px;
	bottom: @cache-usage-bar-height + 10;
	overflow: scroll;
	border: solid gray 2pt;
	// margin-left: 50px;
	// max-width: 300px;
	float: left;
}

.storage-usage-info header{
	background-color: black;
	color: white;
	font: 20px bold;
	padding: 10px 20px;
}

.storage-usage-info section{
	border-top: none;
	background-color: white;
	padding: 10px;
}

.storage-usage-info .percentage-bar{
	width: 76%;
	background-color: navy;
}

.cache-usage-bar{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3px;
	width: @site-main-width;
	height: @cache-usage-bar-height;
}

.cache-usage-bar .total-usage{
	position: absolute;
	background-color: white;
	border: solid brown 1px;
	bottom: 1px;
	min-width: 99%;
	min-height: 99%;
}
.cache-usage-bar .current-usage{
	position: absolute;
	background-color: #421B19;
	border: solid brown 1px;
	bottom: 1px;
	width: 30%;
	min-height: 99%;
}

.icon-system-work{
	background-image: url("/@{dashboard-image-path}/indicator_1_system_work.png");
}
.icon-flush-work{
	background-image: url("/@{dashboard-image-path}/indicator_1_flush_work.png");
}
.icon-network-work{
	background-image: url("/@{dashboard-image-path}/indicator_1_network_work.png");
}
.icon-dirtycache-safe{
	background-image: url("/@{dashboard-image-path}/indicator_1_dirtycache_safe.png");
}
.icon-indicator-normal{
	background-image: url("/@{dashboard-image-path}/indicator_2_normal.png");
}