{% extends "base.html" %}
{% block stylesheet %}
<style type="text/css">
legend {
	color: #666;
	margin-bottom: 0px;
	border-bottom: 2px solid #CCC;
	height: 40px;
}
legend p {
	position: absolute;
	line-height: 50px;
	font-size: 20px;
	vertical-align: text-top;	
	margin: 0px;
	margin-left: 20px;
	text-indent: -62px;
}
legend p:first-letter {
	font-size: 300%;
	font-weight: bolder;
	vertical-align: text-top;
	margin-right: 5px;
}
fieldset {
	margin-bottom: 20px;
}
.control-group {
	margin-left: 170px;
}
input {
	color: #0087DC;
	letter-spacing: 1px;
}
</style>
{% endblock %}

{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="row" style="padding: 60px 0;">
	<div style="width:560px; margin: 0 auto;">
		<form id="form" method="POST" action="">
	{% csrf_token %}	
	{{ wizard.management_form }}
	
	{% if wizard.form.forms %}
	    {{ wizard.form.management_form }}
	    {% for form in wizard.form.forms %}
	        {{ form }}
	    {% endfor %}
	{% else %}

{% if wizard.form.fieldset %}

{% for legend, items in wizard.form.fieldset_list %}
<fieldset>
	<legend><p>{{legend}}</p></legend>
	{% for field in items %}
	<div class="control-group">
	<label class="control-label" for="id_{{field.name_of_field}}">{{field.label}}</label>
		<div class='controls'>
			{{ field }}
			{%if field.help_text %}
			<span class="help-inline">{{field.help_text}}</span>
			{% endif %}
			{% for error in field.errors %}
			<p class="help-block" style="color:red;">{{ error }}</p>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</fieldset>
{% endfor %}

{% else %}
	{% for field in wizard.form %}
		<div class="control-group">
		<label class="control-label" for="id_{{field.name_of_field}}">{{field.label}}</label>
			<div class='controls'>
				{{ field }}
				{%if field.help_text %}
				<span class="help-inline">{{field.help_text}}</span>
				{% endif %}
				{% for error in field.errors %}
				<p class="help-block" style="color:red;">{{ error }}</p>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endif %}


	{% endif %}			
			<div class="control-group">
				{% if wizard.steps.prev %}
				{#<button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First Step" %}</button>#}
				{% if params.back %}
				<button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
				{% endif %}
				{% endif %}
				<button class="btn btn-primary" type="submit" name="next">{% trans "Next" %}</button>
				<span class="label hide"></span>
			</div>
		</form>
	</div>
</div>
{% endblock %}