{% extends "base.html" %} {% block content %}
<div class="row" style="padding: 120px 0;">
	<div style="width:560px; margin: 0 auto;">
		<div class="well">
			<h3>Welcome to Delta Storage Gateway Startup Wizard.</h3>
			<h4>This wizard will guide you through quick steps to setup
				these 4 items.</h4>
			<ol>
				<li>Setup your new password</li>
				<li>Setup network</li>
				<li>Setup cloud storage</li>
				<li>Setup encryption key</li>
			</ol>
			<div style="height: 40px;">
				<a class="btn btn-primary btn-large pull-right" href=".">Next</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
