{% extends "base.html" %}

<!--{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}-->

{% block moreScripts %}
    <script type="text/javascript">
    function redirect(){
      self.location="/account/login/";
    }
    </script>
{% endblock %}

{% block navbar_class %}{% endblock %}
{% block navbar %}
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <a class="brand" href="/">Cloud Storage</a>
                            <div class="nav-collapse">
                              <!--ul class="nav">
                                <li><a href="#tab_one">One</a></li>
                                <li><a href="#tab_two">Two</a></li>
                              </ul-->
                              {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                            </div>
                    </div>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
  <div id="sidebar" class="span3">
      {% include "_side_bar.html" %}
    </div>
  <div id="screen" class="span9">
    <h1>{% trans "Dashboard" %}</h1>
    
    {% if user.is_authenticated %}
        <!--{% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p-->
    {% else %}
        {% url account_login as login_url %}<script type="text/javascript">redirect();</script>
        {% url account_signup as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
    {% endif %}
</div></div>
{% endblock %}
