Source: dcloudswift
Maintainer: Ovid Wu <ovid.wu@delta.com.tw>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: python-dcloudswift
Architecture: all
Depends:
    debhelper (>=8),
    curl (>=7.21.3),
    libcurl3 (>=7.21.3),
    libevent-1.4-2 (>=1.4.13),
    liblua5.1-0 (>=5.1.4),
    memcached (>=1.4.5),
    nmap (>=5.21),
    procmail (>=3.22),
    python-dev (>=2.7),
    python (>=2.7),
    python-eventlet (>=0.9.14),
    python-formencode (>=1.2.2),
    python-greenlet (>=0.3.1),
    python-netifaces (>=0.5),
    python-openid (>=2.2.4),
    python-paste (>=1.7.5.1),
    python-pastedeploy (>=1.3.3),
    python-pastescript (>=1.7.3),
    python-scgi (>=1.13),
    python-setuptools (>=0.6.15),
    python-software-properties (>=0.80.9.1),
    python-swauth (>=1.0.2),
    python-twisted (>=10.2.0),
    python-webob (>=1.0.8),
    python-xattr (>=0.6),
    smartmontools (>=5.39),
    sshpass (>=1.05),
    ssl-cert (>=1.0.28),
    swauth (>=1.0.2),
    swift (>=1.4.8),
    xfsprogs (>=3.1.4),
    unattended-upgrades (>=0.72)
Description: Delta Inc. CTBU Storage Gateway
 [Description]:
 1. The scripts is used to deploy Swift. The development environment is listed
    in the following.
 	(1) OS: Ubuntu 11.04 64 bits
 	(2) Language: python and bash shell
 	(3) Hardware: AMD 64bit
 .
 .
 2. How to use the scripts:
 	(1) Copy the folder 'DCloudSwift' to the master node.
 	(2) Change your privilege to root.
 	(3) Execute 'python setup.py install'
 	(4) Edit ./Swift.ini:
 	    [storage]
             password = password of root in swift nodes
             deviceCnt = how many disks to use in each swift node
 	    proxyPort = the port on which the swift-proxy should listen
 .
             [portal]
             url = url of the public access portal for users
