{% extends "base.html" %}
{% block head_title %}Account Confirm{% endblock %}

{% block body_class %}home{% endblock %}
{% block navbar_class %}{% endblock %}
{% block navbar %}
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <a class="brand" href="/">Cloud Storage</a>
                            <div class="nav-collapse">
                              <!--ul class="nav">
                                <li><a href="#tab_one">One</a></li>
                                <li><a href="#tab_two">Two</a></li>
                              </ul-->
                              {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                            </div>
                    </div>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
      <div id="sidebar" class="span3">
      {% include "_side_bar.html" %}
    </div>
  <div id="screen" class="span9">
<h1>Create User Successful</h1>
<h3>The user will under the "{{account_id}}" Account</h3>
<table class="table">
<tr>
  <td>User ID</td>
  <td>{{user_id}}</td>
</tr>
<tr>
  <td>Description</td>
  <td>{{user_description}}</td>
</tr>
<tr>
  <td>Password</td>
  <td>{{user_password}}</td>
</tr>
<tr>
  <td>Quota</td>
  <td>{{user_quota}}</td>
</tr>
</table>

<h3>Would you want to create more User?</h3>
<a class="btn" href="/account/{{account_id}}/user/new">Yes</a> <a class="btn" href="/account/{{account_id}}/edit">No</a>
</div>
{% endblock %}
