{% extends "base.html" %}
{% block head_title %}List Accounts{% endblock %}

{% block body_class %}home{% endblock %}

{% block moreScripts%}
  <script src="/static/js/bootstrap-modal.js" type="text/javascript"></script>
  <script src="/static/js/bootstrap-button.js" type="text/javascript"></script>
{% endblock %}

{% block navbar_class %}{% endblock %}
{% block navbar %}
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <a class="brand" href="/">Cloud Storage</a>
                            <div class="nav-collapse">
                              <!--ul class="nav">
                                <li><a href="#tab_one">One</a></li>
                                <li><a href="#tab_two">Two</a></li>
                              </ul-->
                              {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                            </div>
                    </div>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
      <div id="sidebar" class="span3">
      {% include "_side_bar.html" %}
    </div>
  <div id="screen" class="span9">
  <div class="row-fluid">
      <div class="span12">
      <h2>Account</h2>
      </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
    <a class="btn btn-primary" href="/account/new">New Account</a>
    </div>
    <div class="span8">
    <!-- pagination -->
    </div>
  </div>
  <table class="table">
<tr>
<th>Account</th>
<th>Description</th>
<th>User</th>
<th>Action</th>
</tr>
{% for account in accounts %}
<tr>
{% if account.account_enable %}
<td><a href="/account/{{account.id}}/edit">{{account.id}}</a></td>
{% else %}
<td>{{account.id}}</td>
{% endif %}
<td>{{account.description}}</td>
<td>{{account.user_number}}</td>
<td>
{% if account.account_enable %}
    <a id="dis_account${{account.id}}" class="btn" name="{{account.id}}" href="#modal" data-toggle="modal" data-target="#disable_account"><i class="icon-off"></i>Off</a>
{% else %}
    <a id="en_account${{account.id}}" name="{{account.id}}" href="/account/{{account.id}}/enable" class="btn" data-loading-text="waiting..."><i class="icon-off"></i>On</a> 
    <a class="btn" id="del_account${{account.id}}" name="{{account.id}}" href="#modal"><i class="icon-remove"></i>Delete</a>
{% endif %}
</td>
</tr>
{% endfor %}
<!--tr>
<td><a href="/account/ACompany/edit">ACompany</a></td>
<td>Apple Inc.</td>
<td>2</td>
<td>
<a href="/account/ACompany/enable" class="btn"><i class="icon-off"></i>On</a></td>
</tr>
<tr>
<td><a href="/account/BCompany/edit">BCompany</a></td>
<td>Broadcom Co.</td>
<td>4</td>
<td><a id="dis_account$BCompany" href="#modal" class="btn" data-toggle="modal" data-target="#disable_account"><i class="icon-off"></i>Off</a></td>
</tr-->
  </table>
</div></div>

<div class="modal hide" id="disable_account">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Attention!</h3>
  </div>
  <div class="modal-body">
    Turn off the Account "<span id="modal_dis_account"></span>" will suspend all user service, are you sure?
  </div>
  <div class="modal-footer">
    <span id="modal_dis_account_link" class="btn btn-primary" data-loading-text="waiting...">OK</span>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>

<div class="modal hide" id="delete_account">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Attention!</h3>
  </div>
  <div class="modal-body">
    Delete the Account "<span id="modal_del_account"></span>" will delete all user, are you sure?<br>
    Delete Account need enter old password
    <label for="oldpassword">"<span id="modal_del_oldpw"></span>"</label>
    <input type="text" name="del_oldpassword" id="del_oldpassword" class="required" minlength="3"/>
    <span id="del_notmatch" class="hide label label-important">words not match</span>
    </div>
  <div class="modal-footer">
   <a class="btn" id="del_acnt">Yes</a> <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>

  <script type="text/javascript">
   $('modal_dis_account_link').button();
   $('a[id*="dis_account"]').click(function(evt){
    $('#modal_dis_account').html(this.name);
    var account_id = this.name;
    $('#modal_dis_account_link').click(function(){
        $(this).button('loading');
    	window.location = "/account/"+account_id+"/disable";
    });
    $('#disable_account').modal('show');
  });
  
  $('a[id*="en_account"]').button();
  $('a[id*="en_account"]').click(function(evt){
    $(this).button('loading');
  });

var account_id;
$('a[id*="del_account"]').click(function(evt){
    account_id = this.name;
    $('#modal_del_account').html(this.name);
    //use ajax to query password
    $.ajax({
        type:"GET",
        url:"/account/"+account_id+"/user/admin/password",
        success: function(msg){
          user_pw = msg;
          $("#modal_del_oldpw").text(msg);
          $('#delete_account').modal('show');
        }
    });
  });
  
$('#del_acnt').click(function(evt){
    //check old password, query new
    //console.log($("#oldpassword").val()+":"+user_pw);
    if(user_pw===$("#del_oldpassword").val()){
      $.ajax({
        type:"GET",
        url:"/account/"+account_id+"/delete",
        success: function(msg){
          $('#delete_account').modal('hide');
        }
      });
    } else {
      //alert("words not match");
      $("#del_oldpassword").val("");
      $("#del_notmatch").removeClass("hide");
    }
  });
  </script>
{% endblock %}