{% extends "dashboard/base.html" %}
{% block tab_content %}
	<div style="font-size:20px; text-align:center; padding-top:100px;">
	{% if backup_time%}
	Last backup time:<div id="backup_time" style="display:inline;">{{backup_time}}</div>
	{% else %}
	You haven't save any configuration.
	{% endif %}
	</div>
    <div class="action-btn">
		<button class="btn btn-danger restore" action="restore"
		{% if not backup_time%}
		disabled="disabled"
		{% endif %}
		>Restore</button>
		<button class="btn btn-warning save" action="save">Save</button>
	</div>
	<script>
		$('.action-btn .btn').on('click', function(){
			action = $(this).attr('action');
			sure = confirm("Confirm: The configuration will be "+ action + ".");
			if (sure){
				$.post(action,function(data){
					$('#backup_time').html(data);
				});
			}
		});
	</script>
{% endblock tab_content %}