{% extends "dashboard/base.html" %}
{% block tab_content %}
<style type='text/css'>
.sync_bar_main {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}
.sync_bar_left {
    height: 45px;
    background-color: orange;
    width: 100px;
    float: left;
    border:1px solid black;
    border-right-style: none;
}
.sync_bar_infont {
    padding-left: 12px;
    padding-top: 12px;
}
.sync_bar_span {
    color: white;
    font-size: 20px;
}
.sync_bar_right {
    border:1px solid black;
    border-left-style: none;
    text-align: center;
    height: 45px;
}
</style>
    <div id="sync">
        <div id="main" class="sync_bar_main">
            <div id="sidebar" class="sync_bar_left">
                <div id="infont" class="sync_bar_infont">
                    <span class="sync_bar_span">Mon</span>
                </div>
            </div>
            <div id="containe" class="sync_bar_right" >
                icon
            </div>
        </div>
        <div id="main" class="sync_bar_main">
            <div id="sidebar" class="sync_bar_left">
                <div id="infont" class="sync_bar_infont">
                    <span class="sync_bar_span">Tue</span>
                </div>
            </div>
            <div id="containe" class="sync_bar_right" >
                icon
            </div>
        </div>
        <div id="main" class="sync_bar_main">
            <div id="sidebar" class="sync_bar_left">
                <div id="infont" class="sync_bar_infont">
                    <span class="sync_bar_span">Wed</span>
                </div>
            </div>
            <div id="containe" class="sync_bar_right" >
                icon
            </div>
        </div>
        <div id="main" class="sync_bar_main">
            <div id="sidebar" class="sync_bar_left">
                <div id="infont" class="sync_bar_infont">
                    <span class="sync_bar_span">Thu</span>
                </div>
            </div>
            <div id="containe" class="sync_bar_right" >
                icon
            </div>
        </div>
        <div id="main" class="sync_bar_main">
            <div id="sidebar" class="sync_bar_left">
                <div id="infont" class="sync_bar_infont">
                    <span class="sync_bar_span">Fri</span>
                </div>
            </div>
            <div id="containe" class="sync_bar_right" >
                icon
            </div>
        </div>
        <div id="main" class="sync_bar_main">
            <div id="sidebar" class="sync_bar_left">
                <div id="infont" class="sync_bar_infont">
                    <span class="sync_bar_span">Sat</span>
                </div>
            </div>
            <div id="containe" class="sync_bar_right" >
                icon
            </div>
        </div>
        <div id="main" class="sync_bar_main">
            <div id="sidebar" class="sync_bar_left">
                <div id="infont" class="sync_bar_infont">
                    <span class="sync_bar_span">Sun</span>
                </div>
            </div>
            <div id="containe" class="sync_bar_right" >
                icon
            </div>
        </div>
    </div>
{% endblock tab_content %}
