{% extends "dashboard/base.html" %} {% block content %}

<div class="row " style=" background-color: lightgray;">
    <div class="span3" style="position: fixed;">
        <div>
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#dash" data-toggle="tab">Dashboard</a></li>
              <li class=""><a href="#account" data-toggle="tab">Storage Account</a></li>
              <li class=""><a href="#system" data-toggle="tab">System</a></li>
              <li class=""><a href="#sharefolder" data-toggle="tab">Share Folder</a></li>
              <li class=""><a href="#syn" data-toggle="tab">Sync</a></li>

              <li class=""><a href="#syslog" data-toggle="tab">System Log</a></li>
              <li class=""><a href="#power" data-toggle="tab">Power On/Off</a></li>
            </ul>
        </div>
    </div>
    <div class="span3" style="">
        &nbsp;
    </div><!-- / -->
    <div class="span9" style="height:1000px;">
        <div style="background-color: #b53569; height:30px;">

            <a id="errormsg" class="btn btn-danger pull-right">Error Message</a>
            <script type="text/javascript">
                $('a#errormsg').on('click', function(e){
                    var tempSize = '500px'
                    $parent = $(e.target).parent()
                    $parent.css('height', '500px')
                    $('#error_msg_block').css('height', '470px')
                    $('.tab-content').hide()

                })
            </script>
        </div>

        <div class="tab-content">
            {% block tab_content %}
                <div class="tab-pane active" id="dash">
                    <p>I'm in dashboard.</p>
                </div>
                <div class="tab-pane" id="acconfig">
                    <p>Howdy, I'm in account config.</p>
                </div>
                <div class="tab-pane" id="syncmgnt">
                    <p>What up girl, this is sync mgnt.</p>
                </div>
                <div class="tab-pane" id="sysmgnt">
                    <p>What up girl, this is system mangement.</p>
                </div>
                <div class="tab-pane" id="syslog">
                    <p>What up girl, this is syslog.</p>
                </div>
                <div class="tab-pane" id="power">
                    <p>Do you want to shutdown?</p>
                </div>
            {% endblock tab_content %}
        </div>
    </div>
</div>

{% endblock content %}
