{% extends "dashboard/base.html" %}
{% block tab_content %}
    <div class="tab-pane active" id="dash" style="overflow-x: hidden;">
        <p>I'm in dashboard.</p>
    </div>
    <div class="tab-pane" id="account">
        <p>Howdy, I'm in account config.</p>
    </div>
    <div class="tab-pane" id="system">
        <p>What up girl, this is sync mgnt.</p>
    </div>
    <div class="tab-pane" id="sharefolder">
        <p>What up girl, this is system mangement.</p>
    </div>
    <div class="tab-pane" id="sync">
        <p>What up girl, this is syslog.</p>
    </div>
    <div class="tab-pane" id="syslog">
        <p>What up girl, this is syslog.</p>
    </div>
    <div class="tab-pane" id="power">
        <p>Do you want to shutdown?</p>
    </div>
{% endblock tab_content %}
