{% extends "dashboard/base.html" %}
{% block tab_content %}


<div class="notify-box-row-SW">
</div>
<div class="storage-indicator-and-switch">
	<div class="indicators">
	    <div id="HDD_ok" class="notify-box img-indicator {% if result_data.HDD_ok %}work{% endif %}">HDD
	    </div>
	    <div id="NFS_srv" class="notify-box img-indicator {% if result_data.NFS_srv %}work{% endif %}">NFS
	    </div>
	    <div id="SMB_srv" class="notify-box img-indicator {% if result_data.SMB_srv %}work{% endif %}">SMB
	    </div>
	    <div id="HTTP_proxy_srv" class="notify-box img-indicator {% if result_data.HTTP_proxy_srv %}work{% endif %}">Http Proxy
	    </div>
	</div>
	<div class="switches">
		<div class="iphone-toggle-buttons">
            <ul>
                <li><label for="checkbox-0"><input type="checkbox" name="checkbox-0" id="checkbox-0" /><span>checkbox 0</span></label><span style="font-size: 18px; font-style: bold;">Http Proxy</span></li>
            </ul>
        </div>
	</div>
	<script type="text/javascript">
		$("#checkbox-0").on("click", function(){
			if($(this).is(":checked")){
				$.post('/dashboard/http_proxy/on', function(ctnt, status, opts){
					console.log(ctnt)
				})
			}
		})
	</script>
	<p style="clear:both;"></p>
</div>
<div class="cache-usage-bar">
	<div class="indicator">
		<div>
			<img src="/static/img/dashboard/1_capacity_icon_1.png" alt="">
			<p id="dirty_cache_size">Dirty cache: <span>{{gateway_cache_usage.dirty_cache_size}}</span>GB</p>
			<p id="dirty_cache_entries">Dirty entries: <span>{{gateway_cache_usage.dirty_cache_entries}}</span></p>
		</div>
		<div>
			<img src="/static/img/dashboard/1_capacity_icon_2.png" alt="">
			<p id="used_cache_size">Used cache: <span>{{gateway_cache_usage.used_cache_size}}</span>GB</p>
			<p id="used_cache_entries">Used entries: <span>{{gateway_cache_usage.used_cache_entries}}</span></p>
		</div>
		<div>
			<img src="/static/img/dashboard/1_capacity_icon_3.png" alt="">
			<p id="max_cache_size">Max cache: <span>{{gateway_cache_usage.max_cache_size}}</span>GB</p>
			<p id="max_cache_entries">Max entries: <span>{{gateway_cache_usage.max_cache_entries}}</span></p>
		</div>
		<div class="version">
			{{ current_version }}
			{% if available_version %}
			<div class="upgrade">{{ available_version }}</div>
			{% endif %}
			<script type="text/javascript">
				$(".version .upgrade").on("click", function(){
					$.post("/dashboard/system_upgrade/", function(ctnt, status, opts){
						console.log(ctnt)
					})
				});
			</script>
		</div>
	</div>
	<div class="usage">
		<div class="total"></div>
		<div class="used" style="background-size: {{used_cache_percentage}}% 100%"></div>
		<div class="dirty" style="background-size: {{dirty_cache_percentage}}% 100%"></div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		function update_cache(){
	        $.get('/dashboard/cache_usage/', function(ctnt, stat, opts){
	            var data = JSON.parse(ctnt);
	            for (key in data){
	            	$('#'+key).find('span').text(data[key])
	            }
	            used_cache_percentage = Math.round(data['used_cache_size'] * 100 / data['max_cache_size'])
	            $(".cache-usage-bar .usage .used").css('background-size', used_cache_percentage + "% 100%")
				dirty_cache_percentage = Math.round(data['dirty_cache_size'] * 100 / data['max_cache_size'])
				$(".cache-usage-bar .usage .dirty").css('background-size', dirty_cache_percentage + "% 100%")
	        });
	    }
	    setInterval(update_cache, 10000)
	})
</script>
{% endblock tab_content %}