{% extends "dashboard/base.html" %}
{% block tab_content %}
<div class="storage-usage-info">
	<h2>Storage space usage</h2>
	<hr />
	<section>
		<h3>Cloud Data</h3>
		<p>{{ storage_usage.cloud_data }} KB</p>
	</section>
	<section>
		<h3>Cloud Data Dedup</h3>
		<p>{{ storage_usage.cloud_data_dedup }} KB</p>
	</section>
	<section>
		<h3>Cloud Data Dedup Compress</h3>
		<p>{{ storage_usage.cloud_data_dedup_compress }} KB</p>
	</section>
</div>
<div class="cache-usage-bar">
	<div class="indicator">
		<div>
			<img src="/static/img/dashboard/1_capacity_icon_1.png" alt="">
			<p id="dirty_cache_size">Dirty cache: <span>{{cache_usage.dirty_cache_size}}</span>GB</p>
			<p id="dirty_cache_entries">Dirty entries: <span>{{cache_usage.dirty_cache_entries}}</span></p>
		</div>
		<div>
			<img src="/static/img/dashboard/1_capacity_icon_2.png" alt="">
			<p id="used_cache_size">Used cache: <span>{{cache_usage.used_cache_size}}</span>GB</p>
			<p id="used_cache_entries">Used entries: <span>{{cache_usage.used_cache_entries}}</span></p>
		</div>
		<div>
			<img src="/static/img/dashboard/1_capacity_icon_3.png" alt="">
			<p id="max_cache_size">Max cache: <span>{{cache_usage.max_cache_size}}</span>GB</p>
			<p id="max_cache_entries">Max entries: <span>{{cache_usage.max_cache_entries}}</span></p>
		</div>
	</div>
	<div class="usage">
		<div class="total"></div>
		<div class="used" style="background-size: {{used_cache_percentage}}% 100%"></div>
		<div class="dirty" style="background-size: {{dirty_cache_percentage}}% 100%"></div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		function update_cache(){
	        $.get('/dashboard/cache_usage/', function(ctnt, stat, opts){
	            var data = JSON.parse(ctnt);
	            for (key in data){
	            	$('#'+key).find('span').text(data[key])
	            }
	            used_cache_percentage = Math.round(data['used_cache_size'] * 100 / data['max_cache_size'])
	            $(".cache-usage-bar .usage .used").css('background-size', used_cache_percentage + "% 100%")
				dirty_cache_percentage = Math.round(data['dirty_cache_size'] * 100 / data['max_cache_size'])
				$(".cache-usage-bar .usage .dirty").css('background-size', dirty_cache_percentage + "% 100%")
	        });
	    }
	    setInterval(update_cache, 10000)
	})
</script>
{% endblock tab_content %}