{% extends "dashboard/base.html" %}
{% block tab_content %}

<div class="formset">
	<ul class="nav nav-tabs">
	{% for form in forms_group.values %}
          <li class=""><a href="#{{form.name}}" data-toggle="tab">{{form.name}}</a></li>
	{% endfor %}
	</ul>
	<div class="tab-content">
	{% for name, form in forms_group.iteritems %}
		<div class="tab-pane" id="{{form.name}}">
		<form id="{{form.name}}_form" class="form-horizontal" method="POST" action="{{name}}">
			{% csrf_token %} {{ form.render }}
			<div class="controls">
				<p class="help-block" style="color: red;">
					{% for error, val in action_error.iteritems %}
					{% if error == name %}
						{{ val }}
					{% endif %}
					{% endfor %}
				</p>
				<button type="submit" class="btn btn-primary">
				{% if submit %}
				{{submit}}
				{% else %}
				Submit
				{% endif %}
				</button>
				<span class="label hide"></span>
			</div>
		</form>
		</div>
		<script type="text/javascript">
		$(function(){
			$("div.formset li:first").addClass('active');
			$("div.formset .tab-pane:first").addClass('active');
		});
		</script>
	{% endfor %}
	</div>
</div>

{% endblock tab_content %}