<div id="msgbox" class="slide-box">
    <div id="msgbox-body" class="slide-box-body">
        <ul class="msg-block" style="margin-top: 30px;">
            <li class="msg-content">This is a fake message. This is a fake message. This is a fake message.werlwerlewkrl;ewl;rkewkgkotjiojiojnoiik
                <div class="msg-time">2012-05-20</div>
                <div class="msg-detail"></div>
            </li>
        </ul>
        <ul class="msg-block">
            <li class="msg-content">This is a fake message. This is a fake message.
                <div class="msg-time">2012-05-20</div>
                <div class="msg-detail"></div>
            </li>
        </ul>
        <ul class="msg-block">
            <li class="msg-content">This is a fake message. This is a fake message. This is a fake message.
                <div class="msg-time">2012-05-20</div>
                <div class="msg-detail"></div>
            </li>
        </ul>
    </div>
    <div class="slide-box-footer-bg"></div>
    <div class="slide-box-footer">
        Error messages
        <div id="msg_btn" class="toggle-btn"></div>
    </div>
    <script type="text/javascript">
        (function(){
            var sign = 0;
            var margin_top = $(".slide-box").css('margin-top');
            $("#msg_btn").on("click", function(e){
                if (sign){
                    sign = 0
                    $(this).toggleClass('active')
                    $(".slide-box").css({"margin-top": margin_top})
                    $(".tab-content").show(1000)
                } else {
                    sign = 1
                    $(this).toggleClass('active')
                    $(".slide-box").css({"margin-top": "0px"})
                    $(".tab-content").hide(1000)
                }
            });
        })();
    </script>
</div>