<div id="msgbox" class="slide-box">
    <div id="msgbox-body" class="slide-box-body">
        {% for msg in msgs %}

        {% empty %}
        <div class="msg-block">
            <div class="msg-icon">1</div>
            <div class="msg-title">2</div>
            <div class="msg-time">2012-05-14</div>
        </div>
        {% endfor %}
    </div>
    <div class="slide-box-footer-bg"></div>
    <div class="slide-box-footer">
        Error messages
        <div id="msg_btn" class="toggle-btn"></div>
    </div>
    <script type="text/javascript">
        (function(){
            var sign = 0;
            var margin_top = $(".slide-box").css('margin-top');
            $("#msg_btn").on("click", function(e){
                if (sign){
                    sign = 0
                    $(".slide-box").css({"margin-top": margin_top})
                    $(".tab-content").show(1000)
                } else {
                    sign = 1
                    $(".slide-box").css({"margin-top": "0px"})
                    $(".tab-content").hide(1000)
                }
            });
        })();
    </script>
</div>