<div id="msgbox" class="slide-box">
    <div id="msgbox-body" class="slide-box-body">
    </div>
    <div class="slide-box-footer-bg"></div>
    <div class="slide-box-footer">
        Error messages
        <div id="msg_btn" class="toggle-btn"></div>
    </div>
    <script type="text/javascript">

        var msg_template = Hogan.compile('{% templatetag openvariable %}#msgs{% templatetag closevariable %}<ul class="msg-block"><li class="msg-content error">{% templatetag openvariable %} msg {% templatetag closevariable %}<div class="msg-time">{% templatetag openvariable %} timestamp {% templatetag closevariable %}</div><div class="msg-detail"></div></li></ul>{% templatetag openvariable %}/msgs{% templatetag closevariable %}');
        (function(){
            $.get('/dashboard/syslog/', function(ctnt, success, opt){
                var msgs = JSON.parse(ctnt)
                $(msg_template.render({'msgs': msgs})).appendTo('#msgbox-body')
            });
        })();
    </script>
</div>