{% extends "dashboard/base.html" %}
{% block tab_content %}
    <div class="action-btn">
		<div class="btn btn-danger poweroff" action="poweroff">Power Off</div>
		<div class="btn btn-warning reset" action="restart">Restart</div>
	</div>
	<script>
		$('.action-btn .btn').on('click', function(){
			action = $(this).attr('action');
			sure = confirm("Confirm: The server will be "+ action + ".");
			if (sure){
                $.post(action);
                window.location = "/logout"
			}
		});
	</script>
{% endblock tab_content %}
