{% extends "dashboard/base.html" %}
{% block tab_content %}
<style type='text/css'>
.sync_bar_main {
    height: 55px;
    width: 720px;
    margin: 0 auto;
}
.sync_bar_left {
    width: 80px;
    float: left;
    height: 41px;
    border: 0;
    background-image:url("/static/img/dashboard/weekday_bg.png");
}
.sync_24div {
    width: 24px;
    float: left;
    height: 41px;
    border: 0px;
    background-image:url("/static/img/dashboard/hour_unit.png");
}
.sync_24div_last {
    width: 24px;
    float: left;
    height: 41px;
    border: 0px;
    background-image:url("/static/img/dashboard/hour_unit_last.png");
}
.sync_edit_link {
    display: block;
    margin-top: 7px;
    height: 41px;
    width: 57px;
    float: left;
    background: url('/static/img/dashboard/edit_normal.png') no-repeat;
    text-indent: -99999px;
}
.sync_edit_link:hover {
    background: url('/static/img/dashboard/edit_hover.png') no-repeat;
}
.sync_span {
    margin-top: 4px;
    margin-left: 10px;
}
.sync_time_img {
    float: right;
}
.sync_time_div {
    height: 16px;
}
</style>
<div class="modal hide fade" id="myModal" style="display: none;">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Setting Mon</h3>
    </div>
    <div class="modal-body">
        <form class="well form-horizontal">
            <div class="controls">
                <p>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked="">
                No limit
                </p>
                <p>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked="">
                Schedule
                </p>
                <p>
                Start <select id="select01" class="span1">
                    {% for i in hours %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select>
                </p>
                <p>
                End <select id="select01" class="span1">
                    {% for i in hours %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </select>
                </p>
                <p>
                Up <input type="text" class="span1" id="input01"> KB
                </p>
                <p>
                Down <input type="text" class="span1" id="input01"> KB
                </p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>
<div id="sync">
    {% for x in weeks %}
    <div id="main" class="sync_bar_main">
        {% if forloop.first %}
        <div id="top" class="sync_time_div">
            <img src="/static/img/dashboard/time.png" class="sync_time_img"/>
        </div>
        {% else %}
        <div id="top" class="sync_time_div">
        </div>
        {% endif %}
        <div style="">
            <a data-toggle="modal" href="#myModal" class="sync_edit_link">edit</a>
            <div class="sync_bar_left"><span class="sync_span"><h2>{{ x }}</h2></span></div>
            {% for i in hours %}
            {% if forloop.last %}
            <div id="24div" class="sync_24div_last"></div>
            {% else %}
            <div id="24div" class="sync_24div"></div>
            {% endif %}
            {% endfor %}
        </div>
        {% if forloop.last %}
        <div id="top" class="sync_time_div">
            <img src="/static/img/dashboard/time.png" class="sync_time_img"/>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock tab_content %}
