{% extends "dashboard/base.html" %}
{% block tab_content %}
<style type='text/css'>
.sync_bar_main {
    height: 55px;
    width: 720px;
    margin: 0 auto;
}
.sync_bar_left {
    width: 80px;
    float: left;
    height: 41px;
    border: 0;
    background-image:url("/static/img/dashboard/weekday_bg.png");
}
.sync_24div {
    width: 24px;
    float: left;
    height: 41px;
    border: 0px;
    background-image:url("/static/img/dashboard/hour_unit.png");
}
.sync_24div_last {
    width: 24px;
    float: left;
    height: 41px;
    border: 0px;
    background-image:url("/static/img/dashboard/hour_unit_last.png");
}
.sync_24div_block {
    width: 24px;
    float: left;
    height: 41px;
    border: 0px;
    background-image:url("/static/img/dashboard/hour_bg_1.png");
}
.sync_24div_none {
    width: 24px;
    float: left;
    height: 41px;
    border: 0px;
    background-image:url("/static/img/dashboard/hour_bg_2.png");
}
.sync_edit_link1 {
    display: block;
    margin-top: 7px;
    height: 41px;
    width: 28px;
    float: left;
    background: url('/static/img/dashboard/edit_normal.png') no-repeat;
    background-position: left 0px;
    text-indent: -99999px;
}
.sync_edit_link1:hover {
    background: url('/static/img/dashboard/edit_hover.png') no-repeat;
    background-position: left 0px;
}
.sync_edit_link2 {
    display: block;
    margin-top: 7px;
    height: 41px;
    width: 28px;
    float: left;
    background: url('/static/img/dashboard/edit_normal.png') no-repeat;
    background-position: right 0px;
    text-indent: -99999px;
}
.sync_edit_link2:hover {
    background: url('/static/img/dashboard/edit_hover.png') no-repeat;
    background-position: right 0px;
}
.sync_add_link {
    display: block;
    margin-top: 5px;
    margin-left: 13px;
    height: 30px;
    width: 44px;
    float: left;
    background: url('/static/img/dashboard/add_normal.png') no-repeat;
    text-indent: -99999px;
}
.sync_add_link:hover {
    background: url('/static/img/dashboard/add_hover.png') no-repeat;
}
.sync_span {
    margin-top: 4px;
    margin-left: 10px;
}
.sync_time_img {
    float: right;
}
.sync_time_div {
    height: 16px;
}
.sync_font_size {
    font-size: 23px;
}
</style>
<div id="sync">
    {% for key, value in weeks_data.items %}
    <div id="main" class="sync_bar_main">
        {% if forloop.first %}
        <div id="top" class="sync_time_div">
            <img src="/static/img/dashboard/time.png" class="sync_time_img"/>
        </div>
        {% else %}
        <div id="top" class="sync_time_div">
        </div>
        {% endif %}
        <div style="">
            {% if value.range == "none" %}
                <a data-toggle="modal" href="#myModal{{ key }}" class="sync_add_link">add</a>
            {% else %}
                <div style="display: none">
                <form class="well form-horizontal" action="/dashboard/sync/" method="POST" id="drop-for-{{ key }}">
                {% csrf_token %}
                <input type="hidden" name="day" value="{{ key }}">
                <input type="hidden" name="bandwidth_option" value="1">
                <input type="hidden" name="interval_from" value="0">
                <input type="hidden" name="interval_to" value="24">
                <input type="hidden" name="bandwidth" value="-1">
                </form>
                </div>
                <a href="#" class="sync_edit_link1"
                    onclick="javascript:document.getElementById('drop-for-{{ key }}').submit();">drop</a>
                <a data-toggle="modal" href="#myModal{{ key }}" class="sync_edit_link2">edit</a>
            {% endif %}
            <div class="sync_bar_left"><span class="sync_span"><h2>{{ value.name }}</h2></span></div>
            {% for i in hours %}
                {% if value.range == "all" %}
                    {% if forloop.last %}
                        <div id="24div" class="sync_24div_last"></div>
                    {% else %}
                        <div id="24div" class="sync_24div"></div>
                    {% endif %}
                {% elif value.range == "none" %}
                    <div id="24div" class="sync_24div_none"></div>
                {% else  %}
                    {% if i in value.range  %}
                        {% if forloop.last %}
                            <div id="24div" class="sync_24div_last"></div>
                        {% else %}
                            <div id="24div" class="sync_24div"></div>
                        {% endif %}
                    {% else %}
                        <div id="24div" class="sync_24div_block"></div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% if forloop.last %}
        <div id="top" class="sync_time_div">
            <img src="/static/img/dashboard/time.png" class="sync_time_img"/>
        </div>
        {% endif %}
    </div>
    <!--start Modal -->
    <!-- js -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#modal-for-{{ key }}").validate();
        });
    </script>
    <!-- js -->
    <div class="modal hide fade" id="myModal{{ key }}" style="display: none;">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Setting {{ value.name }}</h3>
        </div>
        <div class="modal-body" >
            <form class="well form-horizontal" action="/dashboard/sync/" method="POST" id="modal-for-{{ key }}">
                {% csrf_token %}
                <input type="hidden" name="day" value="{{ key }}">
                <div class="">
                    <p class="sync_font_size">
                    <input type="radio" name="bandwidth_option" id="optionsRadios1" value="1"
                    {% if value.option == 1 %}
                        checked
                    {% endif %}
                    >
                    No limit
                    </p>
                    <hr/>
                    <p class="sync_font_size">
                    <input type="radio" name="bandwidth_option" id="optionsRadios2" value="2"
                    {% if value.option == 2 %}
                        checked
                    {% endif %}
                    >
                    All Day
                    </p>
                    <hr/>
                    <p class="sync_font_size">
                    <input type="radio" name="bandwidth_option" id="optionsRadios3" value="3"
                    {% if value.option == 3 %}
                        checked
                    {% endif %}
                    >
                    Interval <select id="select01" name="interval_from" class="span1">
                        {% for i in hours %}
                            {% if i == value.interval_from %}
                                <option selected="selected">{{ i }}</option>
                            {% else %}
                                <option>{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <i class="icon-play"></i>
                    <select id="select01" name="interval_to" class="span1">
                        {% for i in hours %}
                            {% if i == value.interval_to %}
                                <option selected="selected">{{ i }}</option>
                            {% else %}
                                <option>{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </p>
                    <hr/>
                    <p class="sync_font_size">
                    Bandwidth <input type="text" class="span1 digits" id="bandwidth_input{{ key }}"
                    name="bandwidth" value="{{ value.bandwidth }}"
                    min="64" max="1024" > KB
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <button type="submit" class="btn btn-primary">Save changes</a>
            </div>
        </form>
    </div>
    <!-- end modal-->
    {% endfor %}
</div>
{% endblock tab_content %}
