{% extends "dashboard/base.html" %}
{% block tab_content %}
    <div id="syslog">
        <div class="msg-type">
            <span class="all"></span>
            <span class="warn"></span>
            <span class="error"></span>
            <span class="opera"></span>
        </div>
        {% for msg in log_data.error_log %}
            <ul class="msg-block">
                <li class="msg-content error">{{ msg.msg }}
                    <div class="msg-time">{{ msg.timestamp }}</div>
                    <div class="msg-detail"></div>
                </li>
            </ul>
        {% endfor %}
        {% for msg in log_data.warning_log %}
            <ul class="msg-block">
                <li class="msg-content warn">{{ msg.msg }}
                    <div class="msg-time">{{ msg.timestamp }}</div>
                    <div class="msg-detail"></div>
                </li>
            </ul>
        {% endfor %}
        {% for msg in log_data.info_log %}
            <ul class="msg-block">
                <li class="msg-content opera">{{ msg.msg }}
                    <div class="msg-time">{{ msg.timestamp }}</div>
                    <div class="msg-detail"></div>
                </li>
            </ul>
        {% endfor %}
            <ul class="msg-block hide">
                <li class="msg-content">
                    <div class="msg-time"></div>
                </li>
            </ul>
    </div>
    <script>
        $(function(){
            if ($(".msg-block").length == 1){
                $(".msg-block").show()
                $(".msg-content").prepend("You don't have any messages.");
            } else {
                $(".msg-type").on("click", "span", function(){
                    if ($(this).attr("class") != 'all'){
                        $(".msg-block").has($('li.'+ $(this).attr("class"))).show();
                        $('.msg-block').not($(".msg-block").has($('li.'+ $(this).attr("class")))).hide();
                    } else {
                        $('.msg-block').show();
                    }
                });
            }
        });
    </script>
{% endblock tab_content %}
