{% extends "base.html" %}
{% block stylesheet %}
<style type="text/css">
#b-ok{
width:138px;
height:47px;
margin-left: 300px;
background-color:transparent;
border:0px;
background-image:url('/static/img/dashboard/setting_button_normal.png');
}
#b-ok:hover{
background-image:url('/static/img/dashboard/setting_button_hover.png');
}
</style>
{% endblock stylesheet %}

{% block content %}
	<div id="http-error" class="error-501"></div>
	<div id="error-bubble">
		<h1 id="b-title">{{title}}</h1>
		<p id="b-msg">{{message}}</p>
		<button id="b-ok" style="display: none;">OK</button>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
		function upgrade_reload(){
			$.get('{% url dashboard:system_upgrade %}', function(data) {
				var result=jQuery.parseJSON(data);
				$("#b-title").text('System upgrade error.');
				$("#b-msg").text(result.msg + " (code=" + result.code + ")");
				$("#b-ok").css("display","block");
			});
		}		
		setInterval(upgrade_reload, 1000);
		
		$("#b-ok").click(function() {
			window.location.assign("{% url dashboard:index %}");
		});
	});
	</script>
{% endblock content %}