{% extends "base.html" %} {% block javascript %}
<script type="text/javascript">
	$(document).ready(function() {
		var refreshId = window.setInterval(function() {
			window.location.assign('.');
		}, 3000);
	});
</script>
{% endblock javascript %} {% block content %}
<div class="row" style="padding: 30px 0;">
	<div class="span6 offset3">
		<div class="well">
			<h3>Please wait for applying settings.</h3>
			{% for step in meta.step_list %}
			<div class="alert alert-info">{{step.msg}}</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}
