{% extends "base.html" %}
{% block javascript %}

{% endblock javascript %}
{% block content %}
<div class="row" style="padding: 30px 0;">
	<div class="span6 offset3">
		<div class="well">
			{% if error %}
			<div class="alert alert-error">{{error}}</div>
			{% endif %}
			{% if info %}
			<div class="alert alert-info">{{info}}</div>
			{% endif %}
			<div style="height: 40px;">
				<a class="btn btn-primary btn-large pull-right" href=".">Next</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
